<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<title>ВСМС ДВ | Документы</title>
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/include.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/mobile.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/nav.css' %}">
</head>
<body>
	{% block content %}
	{% include 'include/nav.html' %}
	<div class="wrapper">
		<div class="section">
			<div class="page_way">
				<a href="/" class="page_way__link">Главная</a> > Документы
			</div>
			<div class="page__headline">
				Документы
			</div>
			<div class="doc__container">
				{% for Doc in Doc %}
				<div class="doc_el">
					<div class="doc_el__title">
						{{Doc.Title}}
					</div>
					<div class="doc_el__description">
						{{Doc.Description}}
					</div>
					<div class="doc_el_download">
						<a href="{{Doc.File.url}}" class=" button">
							Скачать
						</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% include 'include/footer.html' %}
	{% endblock %}
</body>
</html>