<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<title>ВСМС ДВ | {{Project.Title}}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/include.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/mobile.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/nav.css' %}">
</head>
<body>
{% block content %}
	{% include 'include/nav.html' %}
	<div class="wrapper">
		<div class="section">
			<div class="page_way">
				<a href="/" class="page_way__link">Главная</a> > <a href="/district">Новости</a> > <a href="/district/{{Project.District.id}}">{{Project.District.Name}}</a> > {{Project.Title}}
			</div>
			<div class="page__headline">
				{{Project.Title}}
			</div>
			<div class="about-news_date">
				{{Project.Date}}
			</div>
			<br><br>
			<img src="{{Project.Image.url}}">
			<br><br>
			<div>
				{{Project.Text|safe}}
			</div>
		</div>
	</div>
	{% include 'include/footer.html' %}
{% endblock %}
</body>
</html>